nav {
  height: 10vh;
  max-width: 100%;
}
.bodypage {
  width: 100vw;
}
nav img {
  width: 50% !important;
}
.card img {
  padding: 1rem;
  margin: 0 auto;
  width: 80%;
  height: 150px;
}
.card {
  width: 20%;
  height: auto;
  margin: 1rem;
}
.star i {
  color: orange;
  font-size: 70%;
}
.container_body {
  height: 90vh;
  overflow-y: scroll;
}
.filter {
  height: 90vh;
  overflow: scroll;
}

.itemNav {
  list-style: none;
}
.itemNav a {
  color: black;
}
