nav {
  height: 10vh;
  max-width: 100%;
}
.bodypage {
  width: 100vw;
}
nav img {
  width: 50% !important;
}
.card img {
  padding: 1rem;
  margin: 0 auto;
  width: 80%;
  height: 150px;
}
.card {
  width: 20%;
  height: auto;
  margin: 1rem;
}
.star i {
  color: orange;
  font-size: 70%;
  cursor: pointer;
}
.container_body {
  height: 90vh;
  overflow-y: scroll;
  width: 100%;
}
.filter {
  height: 90vh;
  overflow-y: scroll;
  /* width: 100%; */
}
.pricefilter input {
  width: 25%;
  margin: 0.3rem;
}
.pricefilter button {
  border-radius: 50%;
}
.itemfilterprice {
  cursor: pointer;
}
.itemNav {
  list-style: none;
}
li {
  list-style-type: none;
}
.itemNav a {
  color: black;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 200px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 75px solid rgb(148, 103, 137);
  border-color: rgb(199, 137, 140) transparent rgb(212, 165, 117) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
